*.jar
*.pyc
**/.gitignore
**/bin/
**/obj/
**/target/
**/__pycache__/
**/dart/**/.metadata
**/dart/**/.dart_tool/
**/dart/**/.idea/
**/fluttr/android
**/fluttr/ios
**/fluttr/macos
**/fluttr/linux
**/fluttr/web
**/fluttr/windows
**/fluttr/test
**/fluttr/README.md
**/fluttr/.gitignore
**/fluttr/analysis_options.yaml
**/fluttr/pubspec.lock
**/zig-cache
**/_build/
**/dist/
**/node_modules/
**/.gradle/
**/.project
**/.settings
**/package-lock.json
**/.build
