**/bin/
**/obj/
**/target/
**/__pycache__/
**/python/**/*.pyc
**/dart/**/.metadata
**/dart/**/.dart_tool/
**/dart/**/.idea/
**/flutter/android
**/flutter/ios
**/flutter/macos
**/flutter/linux
**/flutter/web
**/flutter/windows
**/flutter/test
**/flutter/README.md
**/flutter/.gitignore
**/flutter/analysis_options.yaml
**/flutter/pubspec.lock
